<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>vsb-archetypes-releases</id>
            <username>bai0033</username>
            <password>{tr+p29q70TYHlhMu06C19UXjXuAhx1CtboXUpKYLCIM=}
            </password>
        </server>
        <server>
            <id>vsb-archetypes-snapshots</id>
            <username>bai0033</username>
            <password>{tr+p29q70TYHlhMu06C19UXjXuAhx1CtboXUpKYLCIM=}
            </password>
        </server>
        <server>
            <id>vsb-education-releases</id>
            <username>bai0033</username>
            <password>{tr+p29q70TYHlhMu06C19UXjXuAhx1CtboXUpKYLCIM=}
            </password>
        </server>
        <server>
            <id>vsb-education-snapshots</id>
            <username>bai0033</username>
            <password>{tr+p29q70TYHlhMu06C19UXjXuAhx1CtboXUpKYLCIM=}
            </password>
        </server>
        <server>
            <id>vsb-student-releases</id>
            <username>bai0033</username>
            <password>{tr+p29q70TYHlhMu06C19UXjXuAhx1CtboXUpKYLCIM=}
            </password>
        </server>
        <server>
            <id>vsb-student-snapshots</id>
            <username>bai0033</username>
            <password>{tr+p29q70TYHlhMu06C19UXjXuAhx1CtboXUpKYLCIM=}
            </password>
        </server>
    </servers>
</settings>